html, body {
    background-color: #fff;
    color: #000;
    letter-spacing: 0.5px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

/**
 * breadcrumbs background
 */
ul.bc-grey {
    background-color: #EEEEEE;
    border-radius: 5px;
}

/**
 * data-table 최소 컬럼
 */
td.short-column {
    width: 80px;
}